<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil de Usuário</title>
  <link rel="stylesheet" href="../static/css/usuarioperfil.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo">
  <a href="../templates/listar.html">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="55"
      height="55"
      fill="currentColor"
      class="icon-livro"
    >
      <path d="M3 4.5C3 3.67 3.67 3 4.5 3H10c1.93 0 3.68.78 4.95 2.05C16.22 3.78 17.97 3 19.9 3H20a1 1 0 0 1 1 1v14.5a1 1 0 0 1-1.45.89c-.74-.37-1.55-.59-2.38-.66A4.98 4.98 0 0 0 14 19.9V6.41a4.5 4.5 0 0 0-4.5-4.5H4.5C3.67 1.91 3 2.58 3 3.41V4.5ZM4 5v11.39A4.97 4.97 0 0 1 8.49 15h.01c.83.07 1.64.29 2.38.66A1 1 0 0 0 12 14.5V5H4Z"/>
    </svg>
  </a>
</div>

  <header class="banner">
    <img src="https://i.pinimg.com/originals/52/97/43/5297437d4774c4411088095d09406c86.jpg" alt="Banner de fundo"> <!--guarda a img no banco e coloca lá-->
    <div class="profile-info">
      <img src="" alt="Foto de perfil" class="avatar"> <!-- guarda a img no banco e coloca lá!-->
      <h2>Skywalker</h2>
      <p class="username">@BjAnakin</p> <!--AQUI PUXA O NOME QUE TÁ NO BANCO ASSOCIADO AO EMAIL!-->
      <div class="stats">
        <div><strong>0</strong><span>MEUS ALUGUEIS</span></div> <!-- faça com que aqui me leve para a tela de alugueis alugueis.html -->
        <div><strong>4</strong><span>FAVORITOS</span></div> <!-- AQUI VAI TER UM SMOOTHSCROLL PARA A TELA DE FAVORITOS-->
      </div>
      <button class="btn-editar">Editar perfil</button>
    </div>
  </header>

  <main class="conteudo">
    <section class="sobre">
      <h3>BIO</h3>
      <p>Adicionar uma bio</p>
      <p class="local">📍 informe sua localidade</p>
      <p class="data">data de nascimento</p>
    </section>

  </main>
</body>
</html>
